<!DOCTYPE html>
<html>

<head>
    <title>Input Page</title>
</head>

<body>
    <nav>
        <img src="cil_school.png" alt="Logo" style="width:28px;height: 28px;">
        <h1>Zonasi System Recommendation</h1>
    </nav>
    <h2>Recommendation for the most
        optimized zonasi system</h2>
    <h3>please fill in the form</h3>
    <form action="/input" method="post">
        <label for="kecamatan">Kecamatan:</label><br>
        <input type="text" id="kecamatan" name="kecamatan"><br>
        <label for="kelurahan_1">Kelurahan 1:</label><br>
        <input type="text" id="kelurahan_1" name="kelurahan_1"><br>
        <label for="kelurahan_2">Kelurahan 2:</label><br>
        <input type="text" id="kelurahan_2" name="kelurahan_2"><br>
        <input type="submit" value="Go"><br><br>
    </form>
</body>

</html>