<!DOCTYPE html>
<html>

<head>
    <title>Input Page</title>
</head>

<body>
    <nav>
        <img src="cil_school.png" alt="Logo" style="width:28px;height: 28px;">
        <h1>High School Recommedation</h1>
    </nav>
    <h2>we will give you recommendation for the best high school around you
        based on your location</h2>
    <h3>please input your location</h3>
    <form action="/input" method="post">
        <label for="latitude">Latitude:</label><br>
        <input type="text" id="latitude" name="latitude"><br>
        <label for="longitude">Longitude:</label><br>
        <input type="text" id="longitude" name="longitude"><br><br>
        <input type="submit" value="Go"><br><br>
    </form>
</body>

</html>