<!DOCTYPE html>
<html>

<head>
    <title>Output Page</title>
</head>

<body>
    <nav>
        <img src="cil_school.png" alt="Logo" style="width:28px;height: 28px;">
        <h1>High School Recommedation</h1>
    </nav>
    <h2>Best High School Around You</h2>
    <table>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Alamat</th>
            <th>Akreditasi</th>
            <th>Jarak</th>
            <th>Keketatan</th>
        </tr>
        <tr>
            <td>1</td>
            <td>tes</td>
            <td>tes</td>
            <td>tes</td>
            <td>tes</td>
            <td>tes</td>
        </tr>
        <tr>
            <td>1</td>
            <td>tes</td>
            <td>tes</td>
            <td>tes</td>
            <td>tes</td>
            <td>tes</td>
        </tr>
        <tr>
            <td>1</td>
            <td>tes</td>
            <td>tes</td>
            <td>tes</td>
            <td>tes</td>
            <td>tes</td>
        </tr>
    </table>
</body>

</html>