<!DOCTYPE html>
<html>

<head>
    <title>Sing Up Page</title>
</head>

<body>
    <img src="cil_school.png" alt="Logo" style="width:200px;height: 200px;">
    <h1>Sign Up</h1>
    <form action="/login" method="post">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="Email"><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
        <a href="/signin">Already have an account? Sign In</a>
    </form>
</body>

</html>