<!DOCTYPE html>
<html>

<head>
    <title>Sign In Page</title>
</head>

<body>
    <img src="cil_school.png" alt="Logo" style="width:200px;height: 200px;">
    <h1>Sign In</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
        <a href="/signup">Don't have an account? Sign Up</a>
    </form>
</body>

</html>